-r requirements-build.in

Pygments==2.12.0
Werkzeug==2.1.2
bandit==1.7.4
black==21.6b0
coverage==6.4.2
django-debug-toolbar==3.5.0
django-extensions==3.2.0
docker-compose==1.29.2
fabric==2.7.1
invoke==1.7.1
ipdb==0.13.9
ipython==8.4.0
isort==5.10.1
model-bakery==1.6.0
pip-tools==6.8.0
pre-commit==2.20.0
pylama==8.3.8
pylint-celery==0.3
pylint-django==2.5.3
pylint==2.14.5
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-mock==3.8.2
pytest==7.1.2
radon==5.1.0
safety==2.1.1
